body{
    background-image: url("images/Page_KM/nen2.jpg")
}
.vitri{
    position: fixed;
    z-index: 1;
    background-image: url("images/Page_KM/nen2.jpg");
    width: 100%;
}
header{
    
    height: 90px;
    width: 100%;
}
.logo img{
    margin-left: 3.5%;
    margin-top: 1%;
}
.login{
    float: right;
    width: auto;
    margin-top: -3.5%;
    margin-right: 3.5%;
}
.login a{
    font-family: 'Montserrat', sans-serif;
    color : #04354c;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}
.login a:hover{
    color: red;
    text-decoration: none;
}
footer{    
    background-color: #04354c;
    height: -10;
    width: 100%;
}
main{
    padding-top: 11%;
    padding-bottom: 1%;
    margin-left:  3.5%;
    margin-right: 3.5%;

}
nav{
    margin-left: 3.5%;
    margin-right: 3.5%;
    padding-top: 0;
    
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color:white;
    width: 100%;
    color: #04354c;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

li a:hover {
    background-color:silver;
    text-decoration: none;
}
li a:active {
    background-color:red;
    text-decoration: none;
}

div.gallery {
    padding: 20px;
    height:120%;
    border: 1px solid none;
}

div.gallery:hover {
    border: 1px solid none;
    border-radius: 10px;
    background-color: #04354c;
}

div.gallery img {
    width: 65%;
    height: 65%;
}
.modal-content img{
    width: 20%;
    height: auto;
}
div.desc {
    height: 70px;
    padding: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.row tr td button{
    margin: 5px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: 0.5px;
    border-radius: 5px;
    color:white;
    background-color: grey;
    border-width: auto;
    border-width: 60%;
}
.row tr td button:hover{
    color: red;
    background-color: white;
    text-decoration: none;
}
div.gallery button{
    margin: 5px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 0.5px;
    border-radius: 5px;
    color:white;
    background-color: grey;
    border-width: auto;
    border-width: 60%;
   
}
.datlaicart button{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 3.5%;
    padding: 5px;
    background-color: #04354c;
    

}
.datlaicart button:hover{
    color: white;
    background-color:red;
    border: 1px solid none;
}
div.gallery button:hover{
    color: red;
    background-color: white;
    
}
div.desc:hover
{
    color: white;
}
div.info{
    height: 70px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500; /*600*/
}

div.gia {    
    height:50px;  
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

* {
    box-sizing: border-box;
}

div.responsive:hover{
    color: white;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    color: #04354c;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

p
{
    margin-top: 0.7em;
    font-family:  'Montserrat', sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #04354c;
}
p1{
    margin-top: 2em;
    font-family:  'Montserrat', sans-serif;
    font-size: 30px;
    color: #04354c; 
}
p2{
    
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    color: #04354c; 
    font-weight: bold;
}

.pizza hr{ 
    border: 8px dotted #04354c;
    border-style: none none dotted;
}
.hr hr{
    border: 8px dotted #04354c;
    border-style: none none dotted;
}
.wordfoot p{
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 23px;
    padding: 2.5ex;
    font-weight: 100;

}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.topnav {
    overflow: hidden;
    background-color:#04354c; 
  }
  
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-family:  'Montserrat', sans-serif;
    font-weight: bold;
    background-color:#04354c;
  }
  .topnav a:hover {
    background-color: #04354c;
    color:red;
    text-decoration: none;
    
  }
  
  .topnav a.active {
  
    color:red;
    text-decoration: none;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
  }
  
  .topnav .search-container button {
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

.stt.li:hover{
    color: #04354c;
}
.coso{   
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #04354c;
    text-align: center;
    border: 5px ;
    background-color: #ccc;
    width: 100%;

}
.pizza{
    margin-top: 1%;
}
.pizza select{
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #04354c;
    text-align: center;
    border: 5px ;
    background-color:white;
    width: auto;
}
.pizza p1{
    font-family:  'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:red;
}
.login a.active {
  
    color:red;
    text-decoration: none;
  }

  .stt{
    margin-left: 44%;
    margin-right: 44%;
    text-align: center;
}
.stt.li{
    border: 0px solid none;
    background-color: #04354c;
} 

table,tr,th{
    border: 4px solid  #04354c;
    font-size: 20px;
    text-align: left;
    font-family:  'Montserrat', sans-serif;
    margin:4ex;  
    background-color: rgb(250, 247, 247);
}
tr:hover {
    background-color:silver;
}
.text1 button:hover{
    color: red;
    background-color: white;
    border: 1px solid none;

}



.gototop button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
html{
    scroll-behavior: smooth;
}  
.gototop button {
    background-color: red;
  }
.upload {
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-family:  'Montserrat', sans-serif;
    font-weight: bold;
    color: #04354c;

}
.upload input[type=text] {
    width: auto;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
}
.upload input[type=submit] {
    width: auto;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 800;
}
.pizza input[type=text]{
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    color: #04354c; 
}
.pizza i{
font-size: 25px;
}
.cuahang p{
    text-align: left;
}
