main hr{
    border: 5px dotted #032f44;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
}
main p{
    font-family:  'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #04354c;
    text-align: center;
    padding: 20px;
}



.text{
    margin: auto;
    width: 100%; 
    
}
.text h1{
    color: #032f44;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin-top: 1.5em;
}

.km1{
    position: relative;
    max-width: 1190px;
    width: 100%;
    height: 290px;
    top : -3em;
    margin: 50px auto;
    background-image: url("images/Page_KM/nen5.jpg") ;
    border-color: none;
    border-radius: 10px;
}
.imgkm1{
    float: left;
    position: relative;
    width: 350px;
    padding-left: 4em;
    padding-top: 7ex;
    display: block;
}
.text1{
    float: left;
    margin-left: 10em;
    margin-top: 2em;
}
.text1 h3{
    margin: 7px 0px;
    font-size: 30px;
    color: #e51937;
    font-weight: 800;
    line-height: 1;
}
.text1 p{
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-align: left;
}
.text1 button{
    cursor: pointer;
    background: #032f44;
    width: auto;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
}
.text1 button:hover{
    color: #e51937;
}
.imgkm2{
    position: relative;
    max-width: 1190px;
    width: 100%;
    height: 350px;
    top : -3em;
    margin: 50px auto;
 
}