
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Model.EnityFramework;
@model List<Product>
<h2>Search</h2>
@if (Model == null)
{
    <h1>404</h1>
}
else
{
    foreach (var item in Model)
    {
        <div class="responsive">
            <div class="gallery">
                <a href="@Url.Action("MonAn", "ProductDetails", new { id = item.ID })"><img src="@item.Image"></a>
                <div class="desc">@item.Name</div>
            </div>
        </div>

    }

    <div class="clearfix"></div>
    <div style="padding:6px;"></div>

}



