
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    401: Lỗi không có quyền truy cập
    }
<div class="alert alert-danger">
    Tài khoản không có quyền truy cập vào trang User
</div>

