
@{
    ViewBag.Title = "OrderFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-danger" style="font-size: 20px">
    Mua hàng thất bại. Xin kiểm tra lại tài khoản của bạn
</div>


