
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success" style="font-size: 20px">
    Bạn vừa đặt hàng thành công. Vui lòng chờ Xác nhận 
</div>

