
@{
    ViewBag.Title = "CuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pizza">
    <div class="cuahang">
        <br />
        <p>HỆ THỐNG CỬA HÀNG </p>
        <hr>
        <div class="coso">
            <br />
            Cơ sở chính: 273 An Dương Vương, Quận 5<br />
            <br />
            Chi Nhánh 1: 105 Bà Huyện Thanh Quan, Quận 3<br />
            <br />
            Chi Nhánh 2: 04 Tôn Đức Thắng, Quận 1<br />
            <br />
            Chi Nhánh 3: 20 Ngô Thời Nhiệm, Quận 3<br />
            <br />
        </div>
    </div>

