
@{
    ViewBag.Title = "NotLoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-warning" style="font-size: 20px">
    Bạn Chưa Đăng Nhập. Xin vui lòng đăng nhập tài khoản của bạn để tiếp tục mua hàng
</div>

