
@{
    ViewBag.Title = "DeleteError";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Error
}
<div class="alert alert-danger">
    Xóa User không Thành công. Không được xóa Admin. Tải lại trang để cập nhật lại trang User
</div>

