
@{
    ViewBag.Title = "Pizza2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pizza">
    <br />
    <p> <a name="pizza2"> </a>PIZZA &nbsp; &nbsp; &nbsp; </p>
    <hr>
    <div class="responsive">
        <div class="gallery">
            <a href="info MEATLOVERS.html">
                <img src="\content\client\images\ThucDON\9.png">
            </a>
            <div class="desc">MEAT LOVERS</div>
            <div class="info">Xúc xích Ý, Dăm bông, Thịt heo, Bò viên</div>
            <div class="gia">250.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=9&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info OCEANCHESSY.html">
                <img src="\content\client\images\ThucDON\10.png">
            </a>
            <div class="desc">OCEAN CHESSY</div>
            <div class="info">Tôm, Thịt gà, Phô mai, Thịt xông khói</div>
            <div class="gia">250.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=10&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info OCEANMANIA.html">
                <img src="\content\client\images\ThucDON\11.png">
            </a>
            <div class="desc">OCEAN MANIA</div>
            <div class="info">Tôm, Mực ống, Thanh cua, Mayonnaise </div>
            <div class="gia">300.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=11&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info PEPPERONIFEAST.html">
                <img src="\content\client\images\ThucDON\12.png">
            </a>
            <div class="desc">PEPPERONI FEAST</div>
            <div class="info">Sốt cà chua, Phô mai, Xúc xích Peperoni</div>
            <div class="gia">200.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=12&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info PRIMEBEAST.html">
                <img src="\content\client\images\ThucDON\13.png">
            </a>
            <div class="desc">PRIME BEAST</div>
            <div class="info">Bò viên kiểu Ý, Thịt bò xé</div>
            <div class="gia">250.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=13&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info SINGAPORESEAFOOD.html">
                <img src="\content\client\images\ThucDON\14.png">
            </a>
            <div class="desc">SINGAPORE SEAFOOD</div>
            <div class="info">Tôm, Cua, Sốt Singapore </div>
            <div class="gia">270.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=14&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info SURFANDTURF.html">
                <img src="\content\client\images\ThucDON\15.png">
            </a>
            <div class="desc">SURF & TURF</div>
            <div class="info">Tôm, Thịt Bò Xé</div>
            <div class="gia">220.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=15&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info EXTRAVAGANZA.html">
                <img src="\content\client\images\ThucDON\16.png">
            </a>
            <div class="desc">EXTRAVAGANZA</div>
            <div class="info">Nấm mỡ, Cà chua, Ô liu</div>
            <div class="gia">200.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=16&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div style="padding:6px;"></div>
    <div class="stt">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/Home/Index">Pre</a></li>
            <li class="page-item"><a class="page-link" href="/Home/Index">1</a></li>
            <li class="page-item active"><a class="page-link" href="/Home/Pizza2">2</a></li>
            <!-- <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">Next</a></li>-->
        </ul>
    </div>
    <div class="gototop">
        <button onclick="topFunction()" id="myBtn" title="Về trang đầu"> <i class="fas fa-arrow-up"></i></button>
    </div>
</div>


