
@{
    ViewBag.Title = "GiaiKhat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pizza">
    <br />
    <p>GIẢI KHÁT</p>
    <hr>
    <div class="responsive">
        <div class="gallery">
            <a href="info cocacolazero.html">
                <img src="\content\client\images\GiaiKhat\4.png">
            </a>
            <div class="desc">COCA COLA ZERO<br /></div>
            <div class="gia">20.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=38&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info COCACOLALIGHT.html">
                <img src="\content\client\images\GiaiKhat\NC28.png">
            </a>
            <div class="desc">COCA COLA LIGHT<br /></div>
            <div class="gia">20.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=39&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a href="info CHAISPRITE390ML.html">
                <img src="\content\client\images\GiaiKhat\3.png">
            </a>
            <div class="desc">CHAI SPRITE 390ML<br /></div>
            <div class="gia">20.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=40&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info CHAICOCA390ML.html">
                <img src="\content\client\images\GiaiKhat\2.png">
            </a>
            <div class="desc">CHAI COCA 390ML<br /></div>
            <div class="gia">20.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=41&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a href="info CHAICOCA1L5.html">
                <img src="\content\client\images\GiaiKhat\5.png">
            </a>
            <div class="desc">CHAI COCA 1.5L<br /></div>
            <div class="gia">39.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=42&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info CHAIFANTA1L5.html">
                <img src="\content\client\images\GiaiKhat\6.png">
            </a>
            <div class="desc">CHAI FANTA 1.5L<br /></div>
            <div class="gia">39.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=43&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info CHAISPRITE1L5.html">
                <img src="\content\client\images\GiaiKhat\7.png">
            </a>
            <div class="desc">CHAI SPRITE 1.5L<br /></div>
            <div class="gia">39.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=44&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="padding:6px;"></div>
    <div class="gototop">
        <button onclick="topFunction()" id="myBtn" title="Về đầu trang"> <i class="fas fa-arrow-up"></i></button>
    </div>
</div>
