
@{
    ViewBag.Title = "MonAnKem_Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pizza">
    <br />
    <p>MÓN ĂN KÈM</p>

    <hr>
    <div class="responsive">
        <div class="gallery">
            <a href="mak trung.html">
                <img src="\content\client\images\Monan_Kem\1.png">
            </a>
            <div class="desc">DO-MANI TRỨNG CÚT</div>
            <div class="gia">25.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=17&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="banhmibotoi.html">
                <img src="\content\client\images\Monan_Kem\3.png">
            </a>
            <div class="desc">BÁNH MÌ BƠ TỎI</div>
            <div class="gia">29.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=18&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="banhkeptom.html">
                <img src="\content\client\images\Monan_Kem\kep.png">
            </a>
            <div class="desc">KEP TÔM</div>
            <div class="gia">29.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=19&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="4miengga.html">
                <img src="\content\client\images\Monan_Kem\4.png">
            </a>
            <div class="desc">4 MIẾNG GÀ KICKERS</div>
            <div class="gia">59.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=20&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="4miengcanhga.html">
                <img src="\content\client\images\Monan_Kem\5.png">
            </a>
            <div class="desc">4 MIẾNG CÁNH GÀ</div>
            <div class="gia">55.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=21&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="gatambot.html">
                <img src="\content\client\images\Monan_Kem\6.png">
            </a>
            <div class="desc">GÀ TẨM BỘT PHÔ MAI</div>
            <div class="gia">59.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=22&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="xucxichphomai.html">
                <img src="\content\client\images\Monan_Kem\7.png">
            </a>
            <div class="desc">XÚC XÍCH PHÔ MAI</div>
            <div class="gia">49.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=23&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="khoaitayphomai.html">
                <img src="\content\client\images\Monan_Kem\khoai tay.png">
            </a>
            <div class="desc">KHOAI TÂY PHÔ MAI</div>
            <div class="gia">29.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=24&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="padding:6px;"></div>
    <div class="stt">
        <ul class="pagination justify-content-center">
            <li class="page-item active"><a class="page-link" href="/Category/MonAnKem_Category">1</a></li>
            <li class="page-item"><a class="page-link" href="/Category/MonAnKem2_Category">2</a></li>
            <li class="page-item"><a class="page-link" href="/Category/MonAnKem2_Category">Next</a></li>
        </ul>
    </div>
    <div class="gototop">
        <button onclick="topFunction()" id="myBtn" title="Về đầu trang"> <i class="fas fa-arrow-up"></i></button>
    </div>
</div>


