
@{
    ViewBag.Title = "MyY_Com_Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pizza">
    <br />
    <p>MỲ Ý & CƠM</p>

    <hr>
    <div class="responsive">
        <div class="gallery">
            <a href="info mitomxucxich.html">
                <img src="/content/client/images/miytom/miytomxucxich.png">
            </a>
            <div class="desc">MỲ Ý TÔM XÚC XÍCH</div>
            <div class="gia">45.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=30&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info mihaisansottieuden.html">
                <img src="/content/client/images/miytom/miyhaisansottieuden.png">
            </a>
            <div class="desc">MỲ HẢI SẢN XỐT TIÊU ĐEN</div>
            <div class="gia">45.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=31&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info mihaisansotcachua.html">
                <img src="/content/client/images/miytom/miyhaisanxotcachua.png">
            </a>
            <div class="desc">MỲ HẢI SẢN XỐT CÀ CHUA </div>
            <div class="gia">45.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=32&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info miythitbamsotca.html">
                <img src="/content/client/images/miytom/miythitbamsotcachua.png">
            </a>
            <div class="desc">MỲ Ý THỊT BẰM XỐT CÀ</div>
            <div class="gia">59.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=33&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info miythitxotcachua.html">
                <img src="/content/client/images/miytom/miythitviensotcachua.png">
            </a>
            <div class="desc">MỲ Ý THỊT XỐT CÀ CHUA</div>
            <div class="gia">55.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=34&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info nuithitxongkhoi.html">
                <img src="/content/client/images/miytom/nuithitxongkhoi.png">
            </a>
            <div class="desc">NUI THỊT XÔNG KHÓI</div>
            <div class="gia">55.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=35&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info comchienhaisan.html">
                <img src="/content/client/images/miytom/comchienhaisan.png">
            </a>
            <div class="desc">CƠM CHIÊN HẢI SẢN</div>
            <div class="gia">40.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=36&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a href="info comchientomvicay.html">
                <img src="/content/client/images/miytom/comchientomvicay.png">
            </a>
            <div class="desc">CƠM CHIÊN TÔM VỊ CAY</div>
            <div class="gia">45.000</div>
            <div class="add-actions">
                <ul class="add-actions-link" style="background-color: darkgray">
                    <li class="add-cart active"><a href="/Cart/AddItem?productId=37&quantity=1" style="font-size: 15px">THÊM VÀO GIỎ HÀNG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="padding:6px;"></div>
    <div class="gototop">
        <button onclick="topFunction()" id="myBtn" title="Về đầu trang"> <i class="fas fa-arrow-up"></i></button>
    </div>
</div>